<div class="main-container">

  <div class="header-section">
    <h3><i class="bi bi-people-fill me-2"></i>Resultados para <span class="text-primary">MOB-SIL-001</span></h3>
    <p class="subtitle">Selecciona los proveedores para enviar la solicitud de cotización.</p>
  </div>

  <div class="card-table">
    <table>
      <thead>
        <tr>
          <th class="text-center" style="width: 50px;"></th> 
          <th>Detalle del Producto / SKU</th>
          <th>Stock</th>
          <th>Precio Unit.</th>
          <th>Total Ref.</th>
        </tr>
      </thead>

      <tbody *ngFor="let prov of listaProveedores" class="provider-group">
        
        <tr class="provider-header-row cursor-pointer" (click)="toggleExpand(prov)">
          
          <td class="text-center align-middle">
            <div class="icon-container">
                <i class="bi" 
                   [class.bi-chevron-right]="!prov.expanded" 
                   [class.bi-chevron-down]="prov.expanded">
                </i>
            </div>
          </td>

          <td colspan="4">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <span class="provider-name">{{ prov.empresa }}</span>
                <span class="badge-rubro ms-2">{{ prov.rubro }}</span>
                
                <small class="text-muted ms-2">
                   | {{ prov.productos.length }} productos disponibles
                </small>
              </div>
              
              <div class="rating">
                <i class="bi bi-star-fill text-warning" *ngFor="let s of getEstrellas(prov.calificacion)"></i>
              </div>
            </div>
          </td>
        </tr>

        <ng-container *ngIf="prov.expanded">
            <tr *ngFor="let prod of prov.productos" [class.selected]="prod.seleccionado" class="product-row fade-in">
              
              <td class="text-center">
                <input type="checkbox" [(ngModel)]="prod.seleccionado" class="custom-checkbox">
              </td>

              <td>
                <div class="fw-bold text-dark">{{ prod.nombre }}</div>
                <span class="badge-sku">{{ prod.sku }}</span>
              </td>

              <td>
                <span [class.stock-ok]="prod.stock > 100" [class.stock-low]="prod.stock <= 100">
                  {{ prod.stock }} {{ prod.unidad }}
                </span>
              </td>

              <td>
                {{ prod.precioUnitario | currency:'CLP':'symbol-narrow':'1.0-0' }}
              </td>
              
              <td class="fw-bold text-primary">
                 {{ prod.precioUnitario | currency:'CLP':'symbol-narrow':'1.0-0' }}
              </td>

            </tr>
        </ng-container>

      </tbody>
    </table>
  </div>
  
  </div>